
h1 {
    color: aqua;
}

.yellow {
    color: yellow;
}

.purple {
    color: purple;
}

.cred {
    color: red;
}

#bold {
    font-weight: 600;
}

/* table tr, td, th {
    border: 2px solid black;
} */
 
th {
    width: 400px !important;
}
td:first-child{
    text-align: left;
}
td:last-child {
    text-align: center;
}